.form-section{
    max-width: 700px;
    margin: 2rem auto;
    padding: 1rem;
    border: 2px solid rgb(121, 208, 121);
    border-radius: 10px;
    background-color: rgb(35, 50, 35);
    align-items: center;
}

input[type="text"], input[type="email"], input[type="date"] {
    width: 80%;
    padding: 0.5rem;
    margin: 1rem 0;
    border: 1px solid rgb(121, 208, 121);
    border-radius: 5px;
    font-size: 1rem;}

.main-content{
    color: rgb(121, 208, 121);
    font-size: 1.2rem;
    left: 30%;
    margin-right: 10%;
}

a{
    color: rgb(121, 208, 121);
    text-decoration: none;
    flex-wrap: wrap;
}
.a{
    display: block;}
.visible {
    display: block !important;
}

.nonvisible {
    display: none !important;
}

#thankyou{
    display: none;
}
.form-container{
    display: block;

}