html, body{
    margin: 0;
    padding: 0;
    background-color: rgb(36, 39, 39);
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Banner */
.banner{
    height: 550px;
    position: relative;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/hades2banner.webp"); /* https://images.ctfassets.net/w5r1fvmogo3f/4hIi0tSLaGdo2DS9t2ns6n/086d75cb1fc7d2853024b6bb01ec6398/hades-2-banner_299eda6eddf1420986ec687ed9b8bea5.jpg?fm=webp&q=90&fit=scale&w=1920 */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner h1{
    margin-top: 0;
    position: absolute;
    font-size: 8rem;
    color: rgb(121, 208, 121);
    text-align: center;
    letter-spacing: 4.5rem;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}


/* Sidebar */
.sidebar{
   width: 160px;
   background-color: black;
   float: left;
   height: 100%;
   box-sizing: border-box;
   padding: 1rem 0;
}

.sidebar ul{
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sidebar li{
    margin: 1rem;
    text-transform: uppercase;
    text-align: center;
}

.sidebar a{
    color: rgb(121, 208, 121);
    text-decoration: none;
}

.sidebar a:hover{
    color: white;
}



/* Main */
.main{
    font-size: 1.2rem;
    color: white;
    padding-right: 1rem;
}

.main-content{
    margin-left: 190px;
}


/* Sections */
.description-container{
    padding-bottom: 3rem;
    text-align: center;
}

.section-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    padding-bottom: 3rem;

}

.section-melinoe{
    float: left;
    width: 30%;
    min-width: 250px;
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: rgb(66, 66, 66);
}

.section-hecate{
    float: left;
    width: 45%;
    min-height: 350px;
    margin: 0 .5%;
    box-sizing: border-box;
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: rgb(66, 66, 66);
}

.section-melinoe img, .section-hecate img{
    max-width: 80%;
    height: auto;
    margin: 0 auto;
    display: block;
}

.section-melinoe h3, .section-hecate h3{
    text-align: center;
}


/* Headings */
h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    color: rgb(121, 208, 121);
}


/* Footer */
.footer{
    display: flex;
    justify-content: space-between;
    background-color: rgba(100, 173, 100, 0.733);
    color: black;
    padding: 1rem;
    
}

.footer a:hover{
    color: white;
}

.section-footer{
    text-align: center;
    float: left;
    width: 30%;
}

.section-footer h3{
    font-size: 1.1rem;
    text-transform: uppercase;
}

.section-footer ul{
    list-style: none;
    padding: 0;
}

.section-footer li{
    margin: 0.7rem;
}

.section-footer a{
    color: black;
}





/* Mobile Screens*/
@media screen and (max-width: 768px) {
    .banner{
        height: 350px;
    }

    .banner h1{
        font-size: 4rem;
        letter-spacing: .5rem;
    }

    .section-container{
        flex-direction: column;
        align-items: center;
    }

    .section-melinoe, .section-hecate{
        width: 90%;
        align-items: center;
    }
}

/* Desktop Screens*/
@media screen and (max-width: 1024px) {
    .banner{
        height: 550px;
    }

    .banner h1{
        font-size: 6rem;
        letter-spacing: 2.5rem;
    }

}